WindowsFormsApp1/Connected Services/ServiceAdressBook/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepertoireService" />
  <xs:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RepertoireService.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RepertoireService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RepertoireService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContact">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="getAllContactResult" nillable="true" type="q3:ArrayOfcontact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="user" nillable="true" type="q4:contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supprimerContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="searchContactResult" nillable="true" type="q5:ArrayOfcontact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="user" nillable="true" type="q6:contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="getIdMatchResult" nillable="true" type="q7:contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajoutNumContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="pers" nillable="true" type="q8:numtel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajoutNumContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ajoutNumContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="afficherNumTel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="afficherNumTelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RepertoireService.Model" minOccurs="0" name="afficherNumTelResult" nillable="true" type="q9:ArrayOfnumtel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfContact">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfContactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>