WindowsFormsApp1/Connected Services/ServiceAdressBook/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepertoireService" />
      <xsd:import schemaLocation="http://localhost:62651/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RepertoireService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContact_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllContact" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addContact_InputMessage">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="IService1_addContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_supprimerContact_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerContact" />
  </wsdl:message>
  <wsdl:message name="IService1_supprimerContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchContact_InputMessage">
    <wsdl:part name="parameters" element="tns:searchContact" />
  </wsdl:message>
  <wsdl:message name="IService1_searchContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editContact_InputMessage">
    <wsdl:part name="parameters" element="tns:editContact" />
  </wsdl:message>
  <wsdl:message name="IService1_editContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:editContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:getIdMatch" />
  </wsdl:message>
  <wsdl:message name="IService1_getIdMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIdMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ajoutNumContact_InputMessage">
    <wsdl:part name="parameters" element="tns:ajoutNumContact" />
  </wsdl:message>
  <wsdl:message name="IService1_ajoutNumContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajoutNumContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_afficherNumTel_InputMessage">
    <wsdl:part name="parameters" element="tns:afficherNumTel" />
  </wsdl:message>
  <wsdl:message name="IService1_afficherNumTel_OutputMessage">
    <wsdl:part name="parameters" element="tns:afficherNumTelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNumberOfContact_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfContact" />
  </wsdl:message>
  <wsdl:message name="IService1_getNumberOfContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllContact" message="tns:IService1_getAllContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllContactResponse" message="tns:IService1_getAllContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addContact" message="tns:IService1_addContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addContactResponse" message="tns:IService1_addContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/supprimerContact" message="tns:IService1_supprimerContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/supprimerContactResponse" message="tns:IService1_supprimerContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchContact" message="tns:IService1_searchContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchContactResponse" message="tns:IService1_searchContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editContact" message="tns:IService1_editContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editContactResponse" message="tns:IService1_editContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIdMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getIdMatch" message="tns:IService1_getIdMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getIdMatchResponse" message="tns:IService1_getIdMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajoutNumContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ajoutNumContact" message="tns:IService1_ajoutNumContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ajoutNumContactResponse" message="tns:IService1_ajoutNumContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="afficherNumTel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/afficherNumTel" message="tns:IService1_afficherNumTel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/afficherNumTelResponse" message="tns:IService1_afficherNumTel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNumberOfContact" message="tns:IService1_getNumberOfContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNumberOfContactResponse" message="tns:IService1_getNumberOfContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllContact">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/IService1/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerContact">
      <soap:operation soapAction="http://tempuri.org/IService1/supprimerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContact">
      <soap:operation soapAction="http://tempuri.org/IService1/searchContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editContact">
      <soap:operation soapAction="http://tempuri.org/IService1/editContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdMatch">
      <soap:operation soapAction="http://tempuri.org/IService1/getIdMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajoutNumContact">
      <soap:operation soapAction="http://tempuri.org/IService1/ajoutNumContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="afficherNumTel">
      <soap:operation soapAction="http://tempuri.org/IService1/afficherNumTel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContact">
      <soap:operation soapAction="http://tempuri.org/IService1/getNumberOfContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62651/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>